---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover; background-position: center">
    <div class="hero-content">
        <div class="container-fluid">
            
            <div class="hero-content-inner">
                <h1><strong>{{ site.hero.hero_title }}</strong></h1>
                <p><strong>{{ site.hero.hero_description }}</strong></p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form" style="visibility: hidden">

            
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Make an Appointment</h3>
 
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Name" required>
                </div>
                
                
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Phone" required>
                </div>
                 <div class="form-field">
                    <input name="phone" type="tel" placeholder="Phone" required>
                </div>
                 <div class="form-field">
                    <input name="phone" type="tel" placeholder="Phone" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                 <div class="form-field">
                    <input name="phone" type="tel" placeholder="Phone" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Message" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">

            </form>
        
         
        </div>
        

    </div>
   
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg>
        <h3>Professor</h3>
        <ul>
            {% if site.contact.name %}<li><p style="font-size: 140%"><strong> {{ site.contact.name }}</strong></p></li>{% endif %}
            {% if site.contact.email %}<li><p style="font-size: 120%">{{ site.contact.email }}</p></li>{% endif %}
            {% if site.contact.division %}<li><p style="font-size: 120%">Division of {{ site.contact.division }}</p></li>{% endif %}
            {% if site.contact.university %}<li><p style="font-size: 120%"> {{ site.contact.university }}</p></li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contact CBI</h3><br>
        <ul>
            {% if site.contact.email %}<li><p style="font-size: 120%"><strong> {{ site.contact.email }}</strong></p></li>{% endif %}
            <li><p style="font-size: 120%">or</p></li>
            {% if site.contact.email_lab %}<li><p style="font-size: 120%"><strong>{{ site.contact.email_lab }}</strong></p></li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Location</h3><br>
        <ul>
            <li><p style="font-size: 120%">{{ site.contact.address }}</p></li>
            <li><p style="font-size: 120%">{{ site.contact.lab_kr }}</p></li>
            <li><p style="font-size: 120%">{{ site.contact.lab_eng }}</p></li>
        </ul>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title"><strong>About CBI Lab</strong></h2>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <br>
                <h3>■ <strong> Deep Learning </strong></h3>

                <div class="media">
                    <div class="media-body">
                        <br><p style="font-size: 140%">최근 다양한 뉴럴 네트워크 (neural network) 모델의 발달을 기반으로 딥러닝 (deep learning)이 여러 분야에서 빅데이터 기반의 다양한 분석 및 분류 모델로서의 높은 성능과 가능성을 보여주고 있다. 이러한 딥러닝 기술을 활용하여 본 연구실에서는 DNA methylation과 miRNA 등의 후성유전체 데이터 또는 gene expression과 같은 유전체 데이터를 기반으로 여러 타입의 암 진단 및 분류 모델을 개발하는 연구를 진행하고 있다.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/deepLearning.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
        <br><br><br><br><br>

        <div class="row">
            <div class="col-sm-6">
                <br>
                <h3>■ <strong> Epigenetics and Cancer </strong></h3>

                <div class="media">
                    <div class="media-body">
                        <br><p style="font-size: 140%">후성유전학(epigeneitcs)은 DNA 염기서열의 변화 없이 유전자의 발현을 조절하여 유전자의 기능이 변화되는 현상을 연구하는 학문이다. 대표적인 메커니즘으로 DNA methylation은 DNA 상에서 발생하는 후성유전학적 변이로서 염기서열의 변화 없이 화학적인 변화에 의해 유전자 발현 조절, 세포 분화, 이동성 요소들의 억제와 같은 여러 생물학적 과정 속에서의 중요한 역할을 수행한다. 본 연구실에서는 후성유전체 데이터를 분석하여 유전자 조절과 관련하여 중요성이 높은 특성을 발굴하고, 질병 중에서도 특히 암과 관련된 데이터 분석을 집중적으로 연구하고 있다.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/epigenetics.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>

        <br><br><br><br><br>

        <div class="row">
            <div class="col-sm-6">
                <br>
                <h3>■ <strong> Cloud Computing </strong></h3>

                <div class="media">
                    <div class="media-body">
                        <br><p style="font-size: 140%">맞춤의학 및 정밀의학을 위한 유전체 및 후성유전체 분석 기술이 발전함에 따라, 대용량 시퀀싱 데이터들이 생산되면서 효율적인 바이오 빅데이터 처리의 필요성이 대두되고 있다. 본 연구실에서는 초대용량 후성 유전체 데이터 처리를 위한 분산 맵핑 알고리즘을 개발하고, 이를 클라우드 컴퓨팅(cloud computing) 환경 상에서 구축하는 연구를 진행하고 있다.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/cloudComputing.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Projects -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title"><strong>Selected Projects</strong></h2>

        <div class="row">
        {% for treatment in site.data.treatments %}
                <div class="col-xs-6" style="width: 50%;display: inline-block;">
                    <div class="icon-box">
                        <h4> <img src="img/dot.png" width="1.3%"> <strong>{{ treatment.title }}</strong> </h4>
                        <p>{{ treatment.year }}</p>
                        {% if treatment.description %}<p>{{ treatment.description }}</p>
                        {% else %} <br><br>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Projects -->

<!-- Start Our team -->
<div id="team" class="team"> 
    <h2 class="section-title"><strong>Our Team</strong></h2> 
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}" style="height: 40%">
                <h4>{{ member.name }}</h4>
                <p>{{ member.state }}</p>
            </div>
            <div class="expandable-box-bottom">
                <p style="font-size: 120%">{{ member.email }}</p>
                
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- End Our team -->

<!-- Start Gallery -->
<div id="gallery" class="gallery">
        
    <h2 class="section-title"><strong>Gallery</strong></h2>

    {% for images in site.data.gallery %}
        <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
            </div>
            <div class="expandable-box-bottom">
                <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
            </div>
        </a>
    {% endfor %}

</div>
<!-- End Gallery -->

